/*
* 스크롤 
*
*/
body
{background-color: #ffffff; scrollbar-face-color: #f2f2f2; scrollbar-shadow-color: #999999; scrollbar-highlight-color: #999999; scrollbar-3dlight-color: #ffffff; scrollbar-darkshadow-color: #ffffff;
 scrollbar-track-color: #f2f2f2; scrollbar-arrow-color: #999999 }



/*
* 정해지지 않은 기본 링크 폰트 
*
*/
td {font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #5b5b5b; line-height:120%; letter-spacing:-0.04em;}

a { font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #5b5b5b; text-decoration:none; letter-spacing:-0.04em;}
a:link {font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #5b5b5b; text-decoration:none;}
a:visited {font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #5b5b5b; text-decoration:none;}
a:active {font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #5b5b5b; text-decoration:none; }
a:hover {font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #000000; text-decoration:none; }

/*
* bg
*
*/

.bg1{background: #ECDCDC; color:#890000; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt; padding-left:5pt;}
.bg2{background: #ECDCDC; }
.bg3{background: #B1B3DA; }
.line{background: #C1C1C1; }

.msginfo4{background: #ECDCDC; color:#890000; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt; padding-left:5pt;}

/*
* 흰색바탕 안내 메세지
*
*/

.coun{font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #6067C3;}

/*
*썬 블루 
*
*
*/
.sunblue{background: #001E9F; color:#ffffff; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}

/*
* 탑 백 컬러
*
*/
.top_line{background: #ADDFFF; color:#ffffff; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.top_bg{background: #29658C; color:#ffffff; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}

/*
* 왼쪽
*
*/
.left_bg{background: #EEEFF5; color:#ffffff; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.left_bg2{background: #F6F6FA; }
.left_top{background: #9C9A9C; color:#ffffff; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; font-weight:bold}
.left_top a:link {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; font-weight:bold}
.left_top a:visited {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; font-weight:bold}
.left_top a:active {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; font-weight:bold}
.left_top a:hover {color: #ffffff; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; font-weight:bold; text-decoration:underline}

/*
* 탑 메뉴
*
*/
.menu {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.menu a:link {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.menu a:visited {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.menu a:active {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.menu a:hover {color: #90F8FF; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; text-decoration:underline}


/*
* 테이블 제목줄
*
*/
.table_tit{font-size: 9pt;   font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#000000;  background-color:#F7EEEE; letter-spacing:-0.04em; border:1 #FAF3EA solid; border-right-color:#FFFFFF; line-height:120%}

/*
* 테이블 리스트 
*
*/
.list {color:#000000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; padding-left:3pt; padding-right:2pt;}
.list a:link {color: #00000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.list a:visited {color:#f00000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.list a:active {color:#f00000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.list a:hover {color: #FF6C00; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; text-decoration:underline}


/*
* 탑 메인/쪽지함 폰트 
*
*/
.small {color:#001E9F;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.small a:link {color: #001E9F0;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.small a:visited {color:#001E9F;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.small a:active {color:#001E9F;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.small a:hover {color: #E80001;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;text-decoration:underline}

/*
* 개인정보변경 폰트 
*
*/
.info {color:#5A5A5A;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; padding-left:3pt; padding-right:2pt;}
.info a:link {color: #5A5A5A;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.info a:visited {color:#5A5A5A;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.info a:active {color:#5A5A5A;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.info a:hover {color: #507AE3;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; text-decoration:underline}


/*
* 서브메뉴 링크1  
*
*/
.submenu1 {color:#626262;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;  letter-spacing:-0.07em; padding-left:5pt;}
.submenu1 a:link {color: #626262;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;  }
.submenu1 a:visited {color:#626262;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; }
.submenu1 a:active {color:#001e9f;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;  }
.submenu1 a:hover {color: #001e9f;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;text-decoration:underline;}

/*
* 서브메뉴 링크2  
*
*/
.submenu2 {color:#939393; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; padding-left:9pt; letter-spacing:-0.05em; line-height:120%; letter-spacing:-0.05em;}
.submenu2 a:link {color: #666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt;}
.submenu2 a:visited {color:#666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt;}
.submenu2 a:active {color:#ff5400; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt;}
.submenu2 a:hover {color: #ff5400; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}

/*
* 서브메뉴 링크3  
*
*/
.submenu3 {color:#939393; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 8pt; padding-left:20pt; letter-spacing:-0.05em; line-height:120%; letter-spacing:-0.05em;}
.submenu3 a:link {color: #666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:8pt;}
.submenu3 a:visited {color:#666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:8pt;}
.submenu3 a:active {color:#ff5400; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:8pt;}
.submenu3 a:hover {color: #ff5400; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 8pt;}


/*
* 운영자 표시 폰트
*
*/
.name{color:#FF6600; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; font-weight:bold}
.name2{font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #4B5696;  }

/*
* 메뉴 플러스
*
*/
.plus {color: #0033FF}

/*
* History 폰트 
*
*/
.history {color:#666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; padding-right:3pt; }
.history a:link {color:#666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; }
.history a:visited {color:#666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; }
.history a:active {color:#666666; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;  }
.history a:hover {color: #ff5400; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; text-decoration:underline; }

/*
* 페이지수 표시 
*
*/
.page {color:#000000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; line-height:15px;}
.page a:link {color: #000000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt;}
.page a:visited {color:#000000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.page a:active {color:#000000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.page a:hover {color: #BD0000;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;text-decoration:underline}

/*
* 작은 흰색 
*
*/
.s_white {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt; line-height:15px;}
.s_white a:link {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size:9pt;}
.s_white a:visited {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.s_white a:active {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;}
.s_white a:hover {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; text-decoration:underline}


/*
* 탑 메인으로 가기 폰트 
*
*/
.main {color:#ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;font-weight: bold;}
.main a {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;font-weight: bold;}
.main a:link {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;font-weight: bold;}
.main a:visited {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;font-weight: bold;}
.main a:active {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;font-weight: bold;}
.main a:hover {color: #ffffff;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt;font-weight: bold; text-decoration:underline}

/*
* bottom 주소 
*
*/
.bott_add{font-size: 9pt; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#000000; line-height:120%; background-color:#D0D0D0}


/*
* 빨간색 작은 밑줄 폰트 
*
*/
.un_red {color:#D62021;font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial";font-size: 9pt; }
.un_red a {color: #D62021; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; }
.un_red a:link {color: #D62021; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt;}
.un_red a:visited {color: #D62021; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt;}
.un_red a:active {color: #D62021; font-size: font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; 9pt;}
.un_red a:hover {color: #D62021; font-size: font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; 9pt; font-weight:bold; ext-decoration:underline}

/*
* inpotbox /multi/select 
*
*/
.in_basic{ color: #444444 ; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial" ; font-size: 9pt ;  border:1 solid #acacac ; background-color:#FFFFFF}
.in_just{ color: #7B4316 ; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial" ; font-size: 9pt ;  border:1 solid #acacac ; background-color:#FFF3EB}
.in_done{ color: #989898 ; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial" ; font-size: 9pt ;  border:1 solid #acacac ; background-color:#E7E7E7}
.in_etc{ color: #444444 ; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial" ; font-size: 9pt ;  border:1 solid #ffffff ; background-color:#ffffff}

/*
* check/radio 버튼 
*
*/
.box{ color: #444444 ; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial" ; font-size: 9pt ; outline-color:#acacac}


/*
* 타이틀 폰트 스타일
*
*/
.tit_black{font-size: 9pt; font-weight:bold; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#000000;  letter-spacing:-0.05em;}
.sub_tit{font-size: 9pt; font-weight:bold; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#9F0000;  letter-spacing:-0.05em;}

/*
* 화살표
*
*/
.tit_arrow{font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #0041B7; font-weight:bold}
.arrow1{font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #FFEA00; }
.arrow2{font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; color: #FF6600;}

/*
* 버튼
*
*/
.btn01{font-size: 9pt; padding-top:2pt; font-weight:bold;  font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#ffffff; background-color:#001e9f; border:1 #5F73CF soild; border-left-color:#B0BCF3; border-top-color:#B0BCF3; cursor:hand}
.btn02{font-size: 9pt; padding-top:2pt; font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#ffffff; border:1 #5F73CF soild;  background-color:#001e9f; cursor:hand}
.btn03{font-size: 9pt; padding-top:2pt; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#444444; border:1 #B5B6B5 soild;  background-color:#d2d2d2; cursor:hand}
.btn04{font-size: 9pt; padding-top:2pt; font-family: "gulim", "dotum","sans-serif","Helvetica","verdana","arial"; color:#4963A0; border:1 #A8BAE4 soild;  background-color:#E7EBF8; cursor:hand}

/*
* Excel Cell Title
*/
.xls_title {font-family:"gulim", "dotum","sans-serif","Helvetica","verdana","arial"; font-size: 9pt; background: #9D2CEA; color: #FFFFFF; font-weight: bold;}

/*
* 코딩할때 들여쓰기
*
*/
.tap {text-indent: 4pt}

/*
* inputbox drop 표시
*
*/
.dropdown {background: url(/eduhome/images/ko/bg/select_down.gif) no-repeat  right ;}