/*∏∂Ω∫≈Õ CSS*/
@import url("layout.css");
@import url('dcaccordion.css');
@import url('table.css');
@import url('form.css');
@import url('button.css');
@import url('paginate.css');
@import url('tab.css');
@import url('popup.css');
@import url('calendar.css');
@import url('comment.css');
@import url('etc.css');

* {margin:0; padding:0:}
body{ 
	font: 0.75em/1.8em "Gulim", "tahoma";
	color: #777;
	line-height: 120%;
	text-decoration:none;
	border-collapse: collapse;
	margin:0px;
	scrollbar-arrow-color: #000000;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #B4B4B4;
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-track-color: #FAFAFA;
	scrollbar-face-color: #EEEEEE;
 }
a:link{color:#777; text-decoration:none;}
a:visited{color:#777; text-decoration:none;}
a:active{color:#11741b; text-decoration:none;}
a:hover{color:#11741b; text-decoration:underline;}
img{ border: none; }


