
/* ¸µÅ© »ö±ò ¼³Á¤ */
A:link, A:visited   {color:#000000;text-decoration:none;}
A:active  {color:#FF7800}
A:hover  {color:#FF7800;text-decoration:underline;} 

body{ font-size:12px;font-family:±¼¸²;
    scrollbar-face-color:#cccccc; scrollbar-shadow-color:#ffffff; scrollbar-highlight-color:#ffffff; 
    scrollbar-3dlight-color:#f0f0f0; scrollbar-darkshadow-color:#ffffff; scrollbar-track-color:#f0f0f0;
    scrollbar-arrow-color:#808285;  oncontextmenu="return false" }
IMG {border: none;}

th {font-size:11pt;}
td {font-size:10pt;}
.title1 {font-size:14px; font-family:"±¼¸²","Arial", "µ¸¿ò"; color : #277B9D; font-weight:600}
.title2 {font-size:12px; font-family:"±¼¸²","Arial", "µ¸¿ò"; color : #fd9c0f; font-weight:600}

<!-- ¸®½ºÆ® Å×ÀÌºí -->
.table { border: 1px solid #8e96ab; background-color: #8e96ab;}
.table_top {background-color: #ACACAC;HEIGHT:2px; padding-top: 0px; padding-bottom: 0px;}
.tr{}
.th {border: 1px solid #ffffff;
		background-color: #CED2DB;
		color: #42495f;}
.th_r {border: 1px solid #ffffff;
		background-color: #CED2DB;
		color: #42495f;}
.td {border: 1px solid #ffffff;
		background-color: #ffffff;
		color: #42495f;}
.td01 {
	border: 1px solid #ffffff;
	background-color: #ECECEC;
	color: #42495f;
}
.td01_tl {
	{border-top: 1px solid #ffffff;border-left: 1px solid #ffffff;
	background-color: #ECECEC;
	color: #42495f;
}
.td02 {
	border: 1px solid #ffffff;
	background-color: #E6E8ED;
	color: #42495f;
}	
<!-- ¸®½ºÆ® Å×ÀÌºí -->
.BRD_NAVI_PAGE  {
	font-size:12px
	color:#FF7800;
}
.BRD_NAVI_PAGE:link, .BRD_NAVI_PAGE:visited {
	color:#0033ff;
}
.BRD_NAVI_PAGE:hover {
	color:#0033ff;
}
.BRD_NAVE_CUR  {
	color:#FF7800;
	text-decoration:none;
}
.BRD_NAVI_BUTTON
{
	BACKGROUND-COLOR: #f9f9f9;		 
	behavior: url(/mboard/admin/css/image_over.htc);
	border:0;
}
.IMG_BTN {
	cursor: pointer;
}
select,input,textarea,option {font-size:12px;font-family:µ¸¿ò, µ¸¿ò;color:#333333; }
input {
	font-family: ±¼¸²;
	background-color: #ffffff;
	border: 1 solid #D1D1D1;
	color: #333333;
}
textarea {
	font-family: ±¼¸²;
	background-color: #ffffff;
	border: 1 solid #D1D1D1;
	color: #333333;
	wrap="hard";
}

.frm_checkbox {border: none;background: transparent;}
.checkbox {border: none;background: transparent;}
.msg {font-size:10pt;}

	#lbl_required {
			color: #ff0000;
	}
	#lbl_comment {
		color: #909090;
	}