<!--
	.bbs_table {
		font-family:"verdana", "±¼¸²","Arial", "µ¸¿ò";
		BORDER-BOTTOM: 0px;
		BORDER-LEFT: 0px;
		BORDER-RIGHT: 0px;
		BORDER-TOP: 0px;
	}
	.bbs_th { background-color:#9B8EAB;font-size:12px; color:#ffffff; font-weight:normal;}
	.bbs_td { border-bottom: 1px solid #cccccc; 
				color:#999999;
				font-size:12px; 
				line-height:25px}
	.bbs_td_id {
		border-bottom: 1px solid #C5C5C5;
		font-size: 10px;
		font-family: "verdana";
		line-height: 25px;
		color:#9a9a9a;
	}
	.bbs_td_cmt {border-bottom: 1px solid #cccccc; padding-top: 2px;padding-left: 2; font-size:11px; color:#9a9a9a;}
	.bbs_td_cur {border-bottom: 1px solid #cccccc; padding-top: 2px;padding-left: 2; font-size:11px; background-color: #F7F7F5}
	
	.bbs_view_top_th {padding-top: 5px; padding-bottom: 5px;
					border-top: 2px solid #9B8EAB;
					border-bottom: 1px solid #9B8EAB; 
					color:#9B8EAB;font-size:12px;  font-weight:bold;
					backround-color:#F7F7F5;}
	.bbs_view_top_td {border-top: 2px solid #9B8EAB;
					border-bottom: 1px solid #9B8EAB; 
					color:#9B8EAB;font-size:12px;  font-weight:bold;
					backround-color:#F7F7F5;}
	.bbs_view_th { border-bottom: 1px solid #9B8EAB;
					padding-top: 5px; padding-bottom: 5px;
					color:#9B8EAB;
					font-size:12px;  
					font-weight:bold;
					backround-color:#F7F7F5;}
	.bbs_view_td {border-bottom: 1px solid #9B8EAB; 
					color:#9B8EAB;font-size:12px;  
					backround-color:#9B8EAB;
					}
	.bbs_view_top_text {color:#666666;font-size:12px; font-weight:normal;}
	.bbs_view_content {padding-top: 5px; padding-bottom: 5px; padding-left:15px; padding-right:15px;
				 border-bottom: 1px solid #9B8EAB; color:#333333;font-size:12px;  }

	.bbs_th_text {color:#666666;font-size:12px; font-weight:normal;}
	.bbs_text_area{
		width:560px;
		padding-top: 10px;
		font-family:±¼¸²;
		font-size: 12px;
	}
-->
