<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>Java MVC Framework</display-name>
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<description>모든 Request의 Parameter( GET, POST)에서 한글 처리/ filter중 첫번째 와야함</description>
		<filter-class>maf.web.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>RequestMonitorFilter</filter-name>
		<description>Request의 정보 수집 및 JSP, Servlet에 기본 정보 제공(CPATH, ControlAction등) ## 필수 ##</description>
		<filter-class>maf.web.filter.RequestMonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestMonitorFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RequestMonitorFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 임시 Uplaod 파일 제거용  -->
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
	<listener>
		<listener-class>maf.web.listener.MyHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>maf.web.context.MafContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>WebController</servlet-name>
		<description>일반 jsp 파일 template 처리</description>
		<servlet-class>maf.web.mvc.SitesTemplate</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MvcController</servlet-name>
		<description>Template 처리 되는 Servlet</description>
		<servlet-class>maf.web.mvc.ControllerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DB SyncManager</servlet-name>
		<description>DB 동기화 처리</description>
		<servlet-class>modules.common.dbsync.DBSyncManager</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/maf-config/DbSync.xml</param-value>
		</init-param>
		<init-param>			
			<param-name>ruleFile</param-name>
			<param-value>/WEB-INF/maf-config/DbSyncDigesterRules.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>		
	<servlet>
		<servlet-name>DefaultGateway</servlet-name>
		<description>Flash - JSP DefaultGateway</description>
		<servlet-class>org.openamf.DefaultGateway</servlet-class>
		<init-param>
			<param-name>OPENAMF_CONFIG</param-name>
			<param-value>/WEB-INF/openamf-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<description>Javascript에 다국어 메시지 전송 param : bundle, key</description>
		<servlet-class>maf.web.servlet.MessageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BoardFileDownloader</servlet-name>
		<servlet-class>modules.community.mboard.actions.BoardFileDownloader</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>wdownloader</servlet-name>
        <description>FileDownLoader</description>
        <servlet-class>miraenet.app.downloader.CommonDownloadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>filedownload</servlet-name>
        <description>FileDownLoader</description>
        <servlet-class>miraenet.app.downloader.FileDownloadServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>WebController</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MvcController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DefaultGateway</servlet-name>
		<url-pattern>/gateway</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/message.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BoardFileDownloader</servlet-name>
		<url-pattern>/mbbsfile/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>wdownloader</servlet-name>
        <url-pattern>/pds/wdown/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filedownload</servlet-name>
        <url-pattern>/pds/filedown/*</url-pattern>
    </servlet-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>maf.web.session.exception.SessionInvalidatedException</exception-type>
		<location>/error/session_invalid.jsp</location>
	</error-page>
	<error-page>
		<exception-type>maf.web.session.exception.UnAuthorizedException</exception-type>
		<location>/error/SC_UNAUTHORIZED.jsp</location>
	</error-page>
	<error-page>
		<exception-type>modules.wlc.exceptions.Lec_cdInvalidException</exception-type>
		<location>/error/leccode_invalid.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>401</error-code>
		<location>/error/session_invalid.jsp</location>
	</error-page>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
        <taglib-location>/WEB-INF/tld_1.0/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
        <taglib-location>/WEB-INF/tld_1.0/fmt.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
        <taglib-location>/WEB-INF/tld_1.0/sql.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
        <taglib-location>/WEB-INF/tld_1.0/fn.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://maf.jstl.com/jsp/tld/maf-form.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/maf-form.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://maf.jstl.com/jsp/tld/maf-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/maf-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://maf.jstl.com/jsp/tld/maf-html-util.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/maf-html-util.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://maf.jstl.com/jsp/tld/maf-fmt.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/maf-fmt.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>http://maf.jstl.com/jsp/tld/maf-sql.tld</taglib-uri>
        <taglib-location>/WEB-INF/tld/maf-sql.tld</taglib-location>
    </taglib>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/mafdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>