<style>	<!--
	body {
		color: #505050;
		background-color: #ffffff;
		font-size: 12px;
		font-family: "±¼¸²", "¼­¿ï", "Verdana", "Arial", "sans-serif";
	}

	td {
		font-family: "±¼¸²", "¼­¿ï", "Verdana", "Arial", "sans-serif";
		font-size: 12px;
		line-height: 18px;
	}

	th {
		font-family: "±¼¸²", "¼­¿ï", "Verdana", "Arial", "sans-serif";
		font-size: 12px;
		line-height: 18px;
		color: #505050;
	}

	input,textarea {
		border: 1px solid #d7d7d7;
		background-color: #f9f9f9;
	}

	a {color: #666666;text-decoration: none;}

	a:hover {color: #0000ff;text-decoration: underline}

	a:active {color: #333333;text-decoration: none}

	a:link {text-decoration: none}

	.list_td {background-color: #ffffff;}

	.list_td_center {background-color: #ffffff;text-align: center;}

	.checkbox {border: none;background: transparent;}

	.imageBTN {border: none;cursor: pointer;vertical-align: middle;}

	.msg_header {font-weight: bold;padding-left: 11px;}

	.msg_td {font-weight: normal;padding-left: 5px;}

	.sub_title {
		font-weight: bold;
		padding-left: 1px;
		font-family: "µ¸¿ò", "±¼¸²";
		font-size: 14px;
		font-style: normal;
		line-height: normal;
		color: #333333;
	}

	.frm_select {
		border: 1px solid #d7d7d7;
		background-color: #f9f9f9;
	}

	.table {
		border-top: 2px solid #6DA9DF;
		background-color: #ffffff;;
	}
	.table_top {background-color: #ACACAC;HEIGHT:2px; padding-top: 0px; padding-bottom: 0px;}
	.tr{behavior: url(rollver.htc);}
	.th {font-size:12px; background-color: #ebebeb;font-weight:bold; line-height:16px;
		color:#505050; padding-top: 2px; padding-bottom: 2px; font-weight:normal;
		border-top: 1px solid #ffffff;border-bottom: 1px solid #d7d7d7;  
		background-position: right;
		background-repeat: no-repeat;
		background-image: url(images/title_line.gif);}
	.th_r {font-size:12px; background-color: #ebebeb;font-weight:bold; line-height:16px;
		color:#505050; padding-top: 2px; padding-bottom: 2px; font-weight:normal;
		border-top: 1px solid #ffffff;border-bottom: 1px solid #d7d7d7;}		
	.td {font-size:12px; line-height:14px;border-bottom: 1px solid #D9D9D9;}

	.rollover a { display:block; width:32px; background-color: #FFFFFF;}
	.rollover a:hover { background-color: #990000;}

	.course_title {
		font-size: 14px;
		font-family: "verdana", "µ¸¿ò";
		color: #000000;
		line-height: 20px;
		font-weight: bold;
	}
	#lbl_required {
		color: #ff0000;
	}
	-->
</style>